---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import MetricsBar from '../components/MetricsBar.astro';
import Problem from '../components/Problem.astro';
import HowItWorks from '../components/HowItWorks.astro';
import DemoPreview from '../components/DemoPreview.astro';
import ROI from '../components/ROI.astro';
import FinalCTA from '../components/FinalCTA.astro';
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <MetricsBar />
    <Problem />
    <HowItWorks />
    <DemoPreview />
    <ROI />
    <FinalCTA />
  </main>
</Layout>
